{% extends 'base.html' %}
{% block content %}
<div class="col-md-9">
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card my-2">
                <img src="{{ photo.image.url }}"
                     class="image-thumbail">
                <div class="card-body">
                    <small>Категория: <a href="#">{{ photo.category }}</a></a></small>
                </div>
                <a class="btn btn-outline-dark" href="#">Просмотреть</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
