<div class="col-md-3 mt-5">
    <div class="card" style="width: 18rem; background: #212529;">
        <div class="card-header" style="color: white; font-size: 20px;">
            Категории
        </div>
        <div class="list-group">
            {% for category in categories %}
            {% if category.photos.count %}
            <a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action">
                {{ category.title }}
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>